body {
    /* Set line height to 1.5 times the font size
         and use the OS’s UI font as the website font
       */
    font: 100%/1.5 system-ui;
    max-width: 100ch;
    margin-inline: auto; /* centers the content */
    padding: 2em;
  }

  nav ul,
  nav li {
    display: contents; /* ignore the default list styling */
    margin: 0;         /* optional: remove any margin just in case */
    padding: 0;        /* optional: remove default padding */
  }